<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azizapp.test">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_sewage"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sewage"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.timeline.DetailTimelineActivity" />
        <activity android:name=".ui.navigationbar.MainActivityNav" />
        <activity android:name=".ui.daftar.DaftarActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.welcome.MainActivity" />
        <activity android:name=".ui.laporan.LaporanActivity" />
        <activity android:name=".ui.laporan.SuccessPage" />
        <activity android:name=".ui.navigationbar.MainActivityNavGuest" />
        <activity android:name=".ui.editpassword.EditPasswordActivity" />
        <activity
            android:name=".ui.riwayat.DetilRiwayat"
            android:theme="@style/WindowNoActionBar" />
        <activity
            android:name=".ui.tentang_kami.ActivityTentangKami"/>
        <activity android:name=".ui.splashscreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.ActivityEditProfile" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBrd6mmPAda0nbkNeVcq_N-KaNDcoYQVeY" />
    </application>

</manifest>