<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azizapp.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sewage"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sewage"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:name=".BaseApplication"
        >

        <activity android:name=".HistoryPage"/>
        <activity android:name=".MainActivityNav"/>
        <activity android:name=".ui.daftar.DaftarActivity"/>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity android:name=".SplashScreen" />
        <activity android:name=".ui.laporan.LaporanActivity" />
        <activity android:name=".ui.laporan.MapFragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.profile.ActivityEditProfile"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBrd6mmPAda0nbkNeVcq_N-KaNDcoYQVeY" />
    </application>

</manifest>